In [4]:
import pandas as pd


df = pd.read_csv('Dataset-Unicauca-Version2-87Atts.csv')
df.head(n=5)
df.shape

(1048575, 87)

In [2]:
import pandas as pd


df = pd.read_csv('C:/Users/DELL/Documents/Projects/Data_set')
df.head(n=5)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (631791266.py, line 4)

In [5]:
import pandas as pd


df = pd.read_csv('Dataset-Unicauca-Version2-87Atts.csv')
df.head(n=5)

,Flow.ID,Source.IP,Source.Port,Destination.IP,Destination.Port,Protocol,Timestamp,Flow.Duration,Total.Fwd.Packets,Total.Backward.Packets,...,Active.Std,Active.Max,Active.Min,Idle.Mean,Idle.Std,Idle.Max,Idle.Min,Label,L7Protocol,ProtocolName
0,172.19.1.46-10.200.7.7-52422-3128-6,172.19.1.46,52422,10.200.7.7,3128,6,26/04/201711:11:17,45523,22,55,...,0.0,0,0.0,0.0,0.0,0.0,0.0,BENIGN,131,HTTP_PROXY
1,172.19.1.46-10.200.7.7-52422-3128-6,10.200.7.7,3128,172.19.1.46,52422,6,26/04/201711:11:17,1,2,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,BENIGN,131,HTTP_PROXY
2,10.200.7.217-50.31.185.39-38848-80-6,50.31.185.39,80,10.200.7.217,38848,6,26/04/201711:11:17,1,3,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,BENIGN,7,HTTP
3,10.200.7.217-50.31.185.39-38848-80-6,50.31.185.39,80,10.200.7.217,38848,6,26/04/201711:11:17,217,1,3,...,0.0,0,0.0,0.0,0.0,0.0,0.0,BENIGN,7,HTTP
4,192.168.72.43-10.200.7.7-55961-3128-6,192.168.72.43,55961,10.200.7.7,3128,6,26/04/201711:11:17,78068,5,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,BENIGN,131,HTTP_PROXY

In [7]:
import pandas as pd


df = pd.read_csv('Dataset-Unicauca-Version2-87Atts.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 87 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Flow.ID                      1048575 non-null  object
 1   Source.IP                    1048575 non-null  object
 2   Source.Port                  1048575 non-null  int64
 3   Destination.IP               1048575 non-null  object
 4   Destination.Port             1048575 non-null  int64
 5   Protocol                     1048575 non-null  int64
 6   Timestamp                    1048575 non-null  object
 7   Flow.Duration                1048575 non-null  int64
 8   Total.Fwd.Packets            1048575 non-null  int64
 9   Total.Backward.Packets       1048575 non-null  int64
 10  Total.Length.of.Fwd.Packets  1048575 non-null  int64
 11  Total.Length.of.Bwd.Packets  1048575 non-null  float64
 12  Fwd.Packet.Length.Max        1048575 non-null  int64
 13  Fwd.Packet.Length.Min        1048575 non-null  int64
 14  Fwd.Packet.Length.Mean       1048575 non-null  float64
 15  Fwd.Packet.Length.Std        1048575 non-null  float64
 16  Bwd.Packet.Length.Max        1048575 non-null  int64
 17  Bwd.Packet.Length.Min        1048575 non-null  int64
 18  Bwd.Packet.Length.Mean       1048575 non-null  float64
 19  Bwd.Packet.Length.Std        1048575 non-null  float64
 20  Flow.Bytes.s                 1048575 non-null  float64
 21  Flow.Packets.s               1048575 non-null  float64
 22  Flow.IAT.Mean                1048575 non-null  float64
 23  Flow.IAT.Std                 1048575 non-null  float64
 24  Flow.IAT.Max                 1048575 non-null  float64
 25  Flow.IAT.Min                 1048575 non-null  int64
 26  Fwd.IAT.Total                1048575 non-null  float64
 27  Fwd.IAT.Mean                 1048575 non-null  float64
 28  Fwd.IAT.Std                  1048575 non-null  float64
 29  Fwd.IAT.Max                  1048575 non-null  float64
 30  Fwd.IAT.Min                  1048575 non-null  float64
 31  Bwd.IAT.Total                1048575 non-null  float64
 32  Bwd.IAT.Mean                 1048575 non-null  float64
 33  Bwd.IAT.Std                  1048575 non-null  float64
 34  Bwd.IAT.Max                  1048575 non-null  float64
 35  Bwd.IAT.Min                  1048575 non-null  float64
 36  Fwd.PSH.Flags                1048575 non-null  int64
 37  Bwd.PSH.Flags                1048575 non-null  int64
 38  Fwd.URG.Flags                1048575 non-null  int64
 39  Bwd.URG.Flags                1048575 non-null  int64
 40  Fwd.Header.Length            1048575 non-null  int64
 41  Bwd.Header.Length            1048575 non-null  int64
 42  Fwd.Packets.s                1048575 non-null  float64
 43  Bwd.Packets.s                1048575 non-null  float64
 44  Min.Packet.Length            1048575 non-null  int64
 45  Max.Packet.Length            1048575 non-null  int64
 46  Packet.Length.Mean           1048575 non-null  float64
 47  Packet.Length.Std            1048575 non-null  float64
 48  Packet.Length.Variance       1048575 non-null  float64
 49  FIN.Flag.Count               1048575 non-null  int64
 50  SYN.Flag.Count               1048575 non-null  int64
 51  RST.Flag.Count               1048575 non-null  int64
 52  PSH.Flag.Count               1048575 non-null  int64
 53  ACK.Flag.Count               1048575 non-null  int64
 54  URG.Flag.Count               1048575 non-null  int64
 55  CWE.Flag.Count               1048575 non-null  int64
 56  ECE.Flag.Count               1048575 non-null  int64
 57  Down.Up.Ratio                1048575 non-null  int64
 58  Average.Packet.Size          1048575 non-null  float64
 59  Avg.Fwd.Segment.Size         1048575 non-null  float64
 60  Avg.Bwd.Segment.Size         1048575 non-null  float64
 61  Fwd.Header.Length.1          1048575 non-null  int64
 62  Fwd.Avg.Bytes.Bulk           1048575 non-null  int64
 63  Fwd.Avg.Packets.Bulk         1048575 non-null  int64
 64  Fwd.Avg.Bulk.Rate            1048575 non-null  int64
 65  Bwd.Avg.Bytes.Bulk           1048575 non-null  int64
 66  Bwd.Avg.Packets.Bulk         1048575 non-null  int64
 67  Bwd.Avg.Bulk.Rate            1048575 non-null  int64
 68  Subflow.Fwd.Packets          1048575 non-null  int64
 69  Subflow.Fwd.Bytes            1048575 non-null  int64
 70  Subflow.Bwd.Packets          1048575 non-null  int64
 71  Subflow.Bwd.Bytes            1048575 non-null  int64
 72  Init_Win_bytes_forward       1048575 non-null  int64
 73  Init_Win_bytes_backward      1048575 non-null  int64
 74  act_data_pkt_fwd             1048575 non-null  int64
 75  min_seg_size_forward         1048575 non-null  int64
 76  Active.Mean                  1048575 non-null  float64
 77  Active.Std                   1048575 non-null  float64
 78  Active.Max                   1048575 non-null  int64
 79  Active.Min                   1048575 non-null  float64
 80  Idle.Mean                    1048575 non-null  float64
 81  Idle.Std                     1048575 non-null  float64
 82  Idle.Max                     1048575 non-null  float64
 83  Idle.Min                     1048575 non-null  float64
 84  Label                        1048575 non-null  object
 85  L7Protocol                   1048575 non-null  int64
 86  ProtocolName                 1048575 non-null  object
dtypes: float64(35), int64(46), object(6)
memory usage: 696.0+ MB

In [9]:
df.shape

(1048575, 87)

In [5]:
#Analysing the Source IP and The Source Port,destination ip ,destination port 
import pandas as pd


df = pd.read_csv('Dataset-Unicauca-Version2-87Atts.csv')
df[['Source.IP',"Source.Port","Destination.IP","Destination.Port"]].value_counts()

Source.IP       Source.Port  Destination.IP  Destination.Port
10.200.7.4      3128         192.168.10.58   50555               199
10.200.7.8      3128         192.168.180.14  52792               188
10.200.7.5      3128         192.168.180.14  51613               176
192.168.245.10  3128         192.168.180.16  55146               125
10.200.7.4      52931        172.16.255.183  53                  110
                                                                ...
10.200.7.5      3128         192.168.72.43   55128                 1
                                             55124                 1
                                             55123                 1
                                             55115                 1
98.158.99.143   80           10.200.7.195    54310                 1
Name: count, Length: 515715, dtype: int64

In [17]:
#to see the infomation that have the same valuesd

df['Destination.IP'].value_counts()

Destination.IP
10.200.7.7         101461
10.200.7.8          80004
10.200.7.9          53567
10.200.7.5          53315
10.200.7.4          45663
                    ...
185.31.128.219          1
173.194.143.45          1
104.154.69.227          1
74.125.155.172          1
192.168.125.124         1
Name: count, Length: 11488, dtype: int64

In [18]:
#showing the number of same IP in source ip

df["Source.IP"].value_counts()

Source.IP
10.200.7.217      93634
10.200.7.218      79628
10.200.7.199      61417
10.200.7.195      60937
10.200.7.194      59448
                  ...
34.204.127.166        1
38.106.10.133         1
213.171.205.88        1
208.92.55.74          1
192.168.127.59        1
Name: count, Length: 2893, dtype: int64

In [10]:
import pandas as pd


df = pd.read_csv('Dataset-Unicauca-Version2-87Atts.csv')


df[['Source.IP',"Source.Port","Destination.IP","Destination.Port","ACK.Flag.Count",'Total.Fwd.Packets']].head(n=15)

,Source.IP,Source.Port,Destination.IP,Destination.Port,ACK.Flag.Count,Total.Fwd.Packets
0,172.19.1.46,52422,192.168.245.10,3128,1,22
1,192.168.245.10,3128,172.19.1.46,52422,1,2
2,50.31.185.39,80,10.200.7.217,38848,1,3
3,50.31.185.39,80,10.200.7.217,38848,1,1
4,192.168.72.43,55961,192.168.245.10,3128,1,5
5,10.200.7.6,3128,172.19.1.56,50004,1,136
6,192.168.72.43,55963,192.168.245.10,3128,1,5
7,192.168.10.47,51848,10.200.7.6,3128,0,3
8,68.67.178.197,443,10.200.7.217,57300,1,10
9,192.168.72.43,55977,192.168.245.10,3128,0,7
10,10.200.7.4,3128,192.168.180.51,57740,1,32
11,10.200.7.4,3128,192.168.180.51,57740,1,5
12,10.200.7.4,3128,192.168.180.51,57740,1,3
13,10.200.7.4,3128,192.168.180.51,57740,1,3
14,10.200.7.6,3128,172.19.1.45,50227,1,123

In [4]:
#checking if a certain IP exsited in the coulumn
"192.168.245.10" in df["Source.IP"]

NameError: name 'df' is not defined

In [22]:
"192.168.245.10" in df["Destination.IP"]

False

In [7]:
df1 = df.copy()
df1.shape

(1048575, 87)

In [1]:
df.isnull()

NameError: name 'df' is not defined

In [4]:
import pandas as pd


df = pd.read_csv('Dataset-Unicauca-Version2-87Atts.csv')


all(df[[]].isnull())

True

In [8]:
import pandas as pd


df = pd.read_csv('Dataset-Unicauca-Version2-87Atts.csv')

df[[]].where(df[[]].isnull().all())

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1048575 rows x 0 columns]